<div class="nav">
  <mat-nav-list class="nav-list">
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/">
      <i class="material-icons">home</i>HOME
    </a>
    <a mat-list-item routerLink="produtos">
      <i class="material-icons">shopping_basket</i>PRODUTOS
    </a>
    <a mat-list-item routerLink="/">
      <i class="material-icons">note</i>VENDAS
    </a>
    <a mat-list-item routerLink="os">
      <i class="material-icons">work</i>SERVIÇO TÉCNICO
    </a>
  </mat-nav-list>
</div>
<div class="conteudo">
  <router-outlet></router-outlet>
</div>